<!DOCTYPE html>
<html>
    <head>
        <title>Dungeon and Dragons DM Tracker</title>
        <style>
            table{
                border: white solid 1px;
                margin: 10px;
                text-align: center;
            }
            
            tr{
                border: white solid 2px;
                margin: 10px;
                font-family: sans-serif;
                text-align: center;
            }
            
            th{
                text-align: center;
                width: 100px;
                font-size: 24px}
            
            td{
                border: white solid 1px;
                margin: 10px;
                text-align: center;
            }
            
            html{
                background-color: black;
                color: white;
                text-align: center;
            }
            
            input[type=number]{
                width: 40px;
                background: white;
                text-align: left;
                
            }
            
        </style>
    
    </head>
    <body>
        <h1>Dungeon and Dragons DM Tracker</h1>
	
        <table>
            <h2>Current Players</h2>
            <tr>
                <th></th>
                <th>Player</th>
                <th>HitPoints</th>
                <th>AC</th>
                <th>Initiative</th>
                <th>STR</th>
                <th>DEX</th>
                <th>CON</th>
                <th>INT</th>
                <th>WIS</th>
                <th>CHA</th>
                <th></th>
            </tr>
            <tr>
                <th><button>Modify</button></th>
                <td>Braden Steiner</td>
                <td>20</td>
                <td>12</td>
                <td>2</td>
                <td>8</td>
                <td>14</td>
                <td>12</td>
                <td>17</td>
                <td>12</td>
                <td>13</td>
                <th><button>Remove</button></th>
            </tr>
            <tr>
                <th><button>Modify</button></th>
                <td>David Pruitt</td>
                <td>30</td>
                <td>14</td>
                <td>4</td>
                <td>10</td>
                <td>15</td>
                <td>11</td>
                <td>14</td>
                <td>14</td>
                <td>18</td>
                <th><button>Remove</button></th>
            </tr>
        </table>
        <br/>
        Player <input type="text"/>
        <br/>
        Hit Points<input type="number"/>
        <br/>
        AC <input type="number"/>
        <br/>
        Initiative<input type="number"/>
        <br/>
        STR<input type="number"/>
        <br/>
        DEX<input type="number"/>
        <br/>
        CON<input type="number"/>
        <br/>
        INT<input type="number"/>
        <br/>
        WIS<input type="number"/>
        <br/>
        CHA<input type="number"/> 
        <br/>
        <button>ADD PLAYER</button>
        <br/>
        <table>
            <h2>Quick Spell Lookup</h2>
            <tr>
                <th> Name </th>
                <th> Casting Time </th>
                <th> Components </th>
                <th> Damage </th>
                <th> Type </th>
                <th> Duration </th>
                <th> Level </th>
                <th> Range </th>
                <th> Save </th>
                <th> Target </th>
                <th></th>
            </tr>
            <tr>
                <td>Fireball</td>
                <td>1 Action</td>
                <td> V S M</td>
                <td> 8d6 </td>
                <td> Fire </td>
                <td> Instant </td>
                <td> 3 </td>
                <td> 150ft </td>
                <td> Dexterity </td>
                <td> 20 foot sphere </td>
                <th><button>Remove</button></th>
            </tr>
            <tr>
                <td>Charm Person</td>
                <td>1 Action</td>
                <td> V S </td>
                <td> None </td>
                <td> </td>
                <td> 1 Hour</td>
                <td> 1 </td>
                <td> 30ft </td>
                <td> Wisom</td>
                <td> 1 person</td>
                <th><button>Remove</button></th>
            </tr>
        </table>
        What spell do you want to look up? <input type="text"/>
        <button>Look Up</button>
    </body>
</html>