<!DOCTYPE html>
<html>
    <head>
        <title>Pruitt's Postage Results Page</title>
    </head>
    <body>
        <h1>Postage Price Results</h1>
        <p>The result of performing "<%= operation %>" on <%= left %> and <%= right %> is: <%= result %></p>
    </body>
</html>